header {
    background-image: url(../../images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40rem; 
    padding-block-start: 4.8rem;
    padding-inline: 4rem;

    @include respond(mobile) {
    background-image: url(../../images/image-hero-mobile.jpg);
    background-size: cover;
    padding-block-start: 3.2rem;
    padding-inline: 2.4rem;
    }

    .header-container {
        max-width: 111rem;
        margin-inline: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-nav-toggle {
        display: none;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        height: 1.5rem;
        width: 1.6rem;
        z-index: 9999;
        cursor: pointer;

        @include respond(mobile) {
            display: flex;
        }

        .hamburger {
            width: 100%;
            height: 3px;
            position: relative;
            background-color: var(--clr-white);
            transition: transform 0.3s ease, background-color 0.3s ease;

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: var(--clr-white);
                transition: transform 0.3s ease;
            }

            &::before {
                transform: translateY(-0.6rem);
            }

            &::after {
                transform: translateY(0.6rem);
            }
        }

        &[aria-expanded='true'] {
            .hamburger {
                transform: translateX(-5rem);
                background-color: transparent;
                pointer-events: none;

                &::before {
                    transform: rotate(45deg) translate(3.5rem, -3.5rem);
                }

                &::after {
                    transform: rotate(-45deg) translate(3.5rem, 3.5rem);
                }
            }
        }
    }

    .primary-navigation{
        z-index: 0;
		transition: all 0.3s ease;
        color: var(--clr-white);
        

			&[data-visible='true'] {
				transform: translateY(0%);
				opacity: 1;
				z-index: 1000;
			}

			@include respond(mobile) {
				display: block;
				position: fixed;
				background-color: var(--clr-white);
				color: var(--clr-black);
				top: 8.8rem;
                left: 2.4rem;
                right: 2.4rem;
				border-radius: 8px;
				opacity: 0;
				transform: translateY(calc(-8.8rem - 100%));
			}

        .nav-items{
            display: flex;
            align-items: center;
            column-gap: 3.2rem;

            @include respond(mobile) {
                flex-direction: column;
                
            }
        }

        li{
            @include respond(mobile) {
                width: 100%;
                border-bottom: 1px solid rgba(47, 47, 47,0.1);
                padding-inline: 2.4rem;
                height: 7rem;
                display: flex;
                align-items: center;
            }
        }
        
        a {
            display: block;
            font-size: 1.3rem;
            font-weight: 500;
            text-transform: capitalize;
            border-bottom: 1px solid transparent;
            transition: border-bottom 0.3s ease;

            &:hover{
                border-bottom: 1px solid white;
            }

            @include respond(mobile) {
                font-size: 1.8rem;
            }
        }
    }

    .nav-overlay {
		position: fixed;
		z-index: -1;
		background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0.6) 100%);
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s ease;

		&[data-visible='true'] {
			z-index: 999;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			visibility: visible;
			opacity: 1;
		}
	}
}