.button{
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  border-radius: 100rem;
  height: 100%;
}

.button-primary{
  color: var(--clr-white);
  background-color: var(--clr-primary);
  padding-inline: 4rem;
  transition: background-color 0.3s ease;

  &:hover{
    background-color: var(--clr-primary-dark);
  }
}

.button-secondary {
  color: var(--clr-white);
  background-color: rgba(47, 47, 47, 0.3);
  padding-inline: 3.8rem;
}

.button-bookmark{
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
  padding-right: 2.4rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  
  circle, path{ 
    transition: fill 0.3s ease;
  }

  &:hover{
    color: var(--clr-gray-dark);

    circle{
      fill: #707070;
    }
  }

  &[data-bookmarked='true'] {
    color: var(--clr-primary-dark);
    background-color: rgba(20, 122, 115, 0.1);

    circle{
      fill: var(--clr-primary-dark);
    }

    path{
      fill: var(--clr-white);
    }
  }
}